<section th:fragment="logout-button">
    <div th:fragment="logout-button" class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="border:none;">
                    <h5 class="modal-title" id="logoutModalLabel">ログアウト確認</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    本当にログアウトしますか？
                </div>
                <div class="modal-footer" style="border:none;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="button" class="btn btn-warning" onclick="confirmLogout()">ログアウト</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-warning w-50 mb-5" data-bs-toggle="modal" data-bs-target="#logoutModal">ログアウト</button>
    </div>
    <script>
        function confirmLogout() {
            window.location.href = '/admin/logout';
        }
    </script>
</section>


